:root {
  --Light-Cyan: hsl(193, 38%, 86%);
  --Neon-Green: hsl(150, 100%, 66%);
  --Grayish-Blue: hsl(217, 19%, 38%);
  --Dark-Grayish-Blue: hsl(217, 19%, 24%);
  --Dark-Blue: hsl(218, 23%, 16%);
}

body {
  font-family: sans-serif;
  background-color: #e8eef3;
  overflow: hidden;
}
* {
  box-sizing: border-box;
}
body {
  background-color: var(--Dark-Blue);
  font-family: "Manrope", sans-serif;
}
.container {
  width: 100vw;
  height: 100vh;
}
.box {
  background-color: var(--Dark-Grayish-Blue);
  width: 30rem;
  height: 19rem;
  padding: 2rem 1.4rem;
  max-width: 100%;
}

@media (max-width: 470px) {
  .box {
    height: 25rem;
  }
}

.h-text {
  color: var(--Neon-Green);
  letter-spacing: 0.3rem;
  font-size: 10px;
}
#num {
  font-size: 10px;
}
blockquote {
  font-size: 1.75rem;
}
.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  bottom: -30px;
  background-color: var(--Neon-Green);
  width: 60px;
  height: 60px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.btn:hover {
  background-color: var(--Neon-Green);
  box-shadow: 1px 1px 25px 1px var(--Neon-Green);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
